/* MOBILE */
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .backdrop {
    height: 100%;
  }
  .modal {
    height: 100%;
    width: 100%;
  }
  .modal p {
    margin-block-start: 68px;
  }
  .modal img {
    margin-block-start: -50px;
  }
  .modal .close {
    margin-block-start: 5px;
  }
  .main-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--headerHeight);
    place-items: center;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .meme-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .btn-toggle {
    width: min-content;
    grid-column: 3;
    height: min-content;
    place-self: center;
  }
  .main-header .main-nav {
    gap: 0;
  }
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    background-color: rgb(255 255 255 / 80%);
    display: flex;
    flex-direction: column;
    border-inline-start: 1px solid #d3d3d3;

    width: clamp(450px, 30vw, 300px);

    transition: box-shadow 0.6s;
    transform: translateX(100%);

    transition: transform 0.6s;
  }

  body.menu-open .main-nav-container {
    transform: translateX(0);
  }

  body.menu-open .main-nav {
    box-shadow: 0px 0px 17px rgb(0 0 0 / 50%);
  }

  .main-header .main-nav a {
    display: flex;
    justify-content: start;
    padding: 0.6em 1em;

    transition: background-color 0.4s;
  }

  .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: block;
    opacity: 0;

    pointer-events: none;

    transition: opacity 0.6s;
  }

  body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
}

/* SMALL */
@media (min-width: 600px) {
  .btn-toggle {
    display: none;
  }
  .main-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 600px) minmax(
        20px,
        1fr
      );
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .meme-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  /* .gallery-user-tool {
    grid-template-columns: 1fr 1fr 1fr;
  } */
  .main-layout > *.full {
    grid-column: 1/-1;
  }
  .main-layout > *:not(.full) {
    grid-column: 2;
  }

  /* modal */
}

/* MEDIUM */

@media (min-width: 920px) {
  .main-layout {
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 860px) minmax(
        50px,
        1fr
      );
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .meme-editor {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
  }
}

/* LARGE */
@media (min-width: 1060px) {
  .main-layout {
    grid-template-columns: minmax(70px, 1fr) minmax(auto, 1060px) minmax(
        70px,
        1fr
      );
  }
}
