.meme-editor {
  background-color: #22252c;
  display: grid;
  grid-template-columns: 92px 1fr 20px 1fr 92px;
}

.card-canvas {
  grid-column: 2;
}

.card-user-tools {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.txt {
  border-radius: 28px;
  background-color: #ebeef3;
  padding: 20px 119px;
}

.btn-user {
  padding: 13px 13px;
}

.btn-user.switch-btn {
  background: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-user.add-line-btn {
  background: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-user.delete-line {
  background-image: linear-gradient(
    -38deg,
    #cf1d37 0%,
    #cf1d37 1%,
    #f05036 100%
  );
}

.text-color-impact {
  background-color: #19a59f;
}
