.gallery-user-tool {
  background-color: #383b42;
  padding: 20px;
}

.user-tool {
  margin-block-end: 50px;
}

.gallery-user-tool .user-tool .search-meme {
  border-radius: 29px;
  background-color: #22252c;
}

.gallery-user-tool .user-tool .memes-tag {
  background-color: rgb(254, 254, 254, 0.4);
  border-radius: 25px;
}

.btn-more-list {
  color: #fefefe;
  border-radius: 18px;
  background: linear-gradient(
    -86deg,
    var(--clrSecondary) 0%,
    var(--clrThird) 100%
  );
  width: 92px;
  height: 36px;
  text-align: center;
}
.gallery {
  display: grid;
}
